# Build files
build/

# cache
.nmlcache/
*__pycache__
template/autogen/

#Storing gfx here instead of in WIP folder for laziness
*.xcf

# Test files
*test*

# VSCode Stuff
.vscode/
.vscode/settings.json
.vscode/extensions.json